.pic1{
    background-image: url("/image/loveudmfav.jpg");
    background-size: no-repeat;
    background-position: 78% 22%;
    background-size: cover;
    height: 500px;
    width: 100%;
    
}