.pic1{
    background-image: url("/image/turnamorefav.jpg");
    background-size: no-repeat;
    background-position: 60% 40%;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.container22 {
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .box22{
    display: grid;
    place-items: center;
  }