.pic1{
    background-color: #033e6b;
    height: 100px;
    width: 100%;
}
.blocknew{
    height: auto;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}
.newblock{
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
}
div.blocknew p{
    padding: 20px;
}
